<form action="/toDonts" method="POST">
	<div>
    	<label for="description">Description:</label>
    	<input type="text" name="description"/>
  	</div>
  	<div>
    	<label for="urgent">Urgent?</label>
    	<input type="text" name="urgent"/>
  	</div>
  	<div>
  		<input type="submit" value="Add a New ToDon't"/>
  	</div>
</form>