<form action="/pirates" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </div>
    <label for="birthplace">Birthplace:</label>
    <input type="text" name="birthplace"/>
  <div>
    <label for="death_year">Death Year:</label>
    <input type="text" name="death_year"/>
  </div>
    <label for="base">Base of Operations:</label>
    <input type="text" name="base"/>
  <div>
    <label for="nickname">Nickname:</label>
    <input type="text" name="nickname"/>
  </div>
  <hr>
  <div>
    <input class="btn-primary" type="submit" value="Add a New Pirate"/>
  </div>
</form>