<h1> Generation One Pokemon </h1>
<a class="btn btn-default" href="pokemon/new" role="button">Add a new Pokemon</a>
<ul>
  {{#each data}}
  <div class="pokemon">
	<a class="btn btn-default" href="/pokemon/{{@index}}" role="button"><img src="{{img}}"></a>
	    <div><a class="btn btn-default" href="pokemon/edit/{{@index}}" role="button">Edit</a></div>
	<form style="display: inline;"action="/pokemon/{{@index}}?_method=DELETE" method="POST">
        <input class="btn btn-default" type="submit" value="Delete">
      </form>
      </div>
    <br>
  {{/each}}
</ul>

