<form action="/pokemon" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </div>
  <div>
    <label for="id">ID:</label>
    <input type="text" name="id"/>
  </div>
    <label for="img">Image URL:</label>
    <input type="text" name="img"/>
  <div>
    <label for="type">Type:</label>
    <input type="text" name="type"/>
  </div>
  <div>
    <label for="hp">Hit Points:</label>
    <input type="text" name="hp"/>
  </div>
    <div>
    <label for="attack">Attack:</label>
    <input type="text" name="attack"/>
  </div>
    <div>
    <label for="defense">Defense:</label>
    <input type="text" name="defense"/>
  </div>
    <div>
    <label for="spattack">Special Attack:</label>
    <input type="text" name="spattack"/>
  </div>
    <div>
    <label for="spdefense">Special Defense:</label>
    <input type="text" name="spdefense"/>
  </div>
    <div>
    <label for="speed">Speed:</label>
    <input type="text" name="speed"/>
  </div>
  <hr>
  <div>
    <input class="btn-primary" type="submit" value="Add a New Pokemon!"/>
  </div>
</form>